:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


@font-face {
  font-family: 'Monofonto';
  src: url('/monofonto rg.otf') format('truetype');
}

h1, h2, h3, p, a {
  font-family: 'Monofonto', sans-serif;
}